@import "tailwindcss";

:root {
  /* Light theme */
  --display-color: #17506d;
  --midnight: #071922;
  --taskbar: #546abe;
  --sage: #91b6ab;
  --jasmine: #eefc70;
  --rust: #e69158;
  --barn: #be4f45;
  --custom-gray: #7d8899;
  --background: var(--display-color);
  --foreground: #171717;
}

:root.dark {
  /* Dark theme */
  --display-color: #001427;
  --midnight: #e4e4e4;
  --sage: #5b7e6f;
  --jasmine: #ffea8d;
  --rust: #b53917;
  --barn: #730c07;
  --custom-gray: #4d545e;
  --background: var(--display-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cecdcd;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #cecdcd transparent;
}
